body {
    font-size: 16px;
    color: #000;
    background-color: #7fecfac2;
    font-family: 'Oxygen', sans-serif;
  }

  #header-nav {
    background-color: #45ff34;
    border-radius: 0;
    border: 0;
  }

  .navbar-brand {
    padding-top: 25px;
  }

  .navbar-brand h1 { /* Restaurant name */
    
    color: #092be7;
    font-size: 1.5em;
    text-transform: uppercase;
    
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #051412;
    text-align: center;
    font-size: 2rem;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -35px;
  }

.content{
  width: 100%;
  text-align: center;
  background-color: rgba(212, 95, 248, 0.733);
}
.content p{
  text-align: left;
}

.heading{
  font-size: 3rem;
  
  margin: 5px;
}